@import "tailwindcss";
 html, body {
      margin: 0;
      padding: 0;
      height: 100%;
    }

body{
  margin: 0;
  padding: 0;
    background: linear-gradient(180deg, rgb(39, 2, 62), black);
  color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  
}

header{
  position: fixed;
  z-index: 3;
}

